/* fuentes */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Martian+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100;600&display=swap");
/* estilos de la pagina */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

/* estilos del body */

body {
  font-size: 16px;
  background: linear-gradient(
    180deg,
    rgba(2, 0, 36, 1) 20%,
    rgba(9, 9, 121, 1) 50%,
    rgba(6, 78, 167, 1) 80%,
    rgba(0, 132, 201, 1) 100%
  );
}

/* estilos de barra de navegacion */
header {
  position: sticky;
  top: 0px;
}

#navbar {
  display: flex;
  justify-content: space-between;

  backdrop-filter: blur(10px);
  border-top: 3px solid aqua;
}

#navbar span {
  color: aqua;
}

#navbar a {
  display: block;
  font-size: 1.25em;
  font-family: "Martian Mono", monospace;
  text-decoration: none;
  color: white;

  padding: 20px 100px;
}

#navbar a:hover {
  animation: heartBeat;
  animation-duration: 2s;
  text-shadow: 0px 0px 4px white;
}

#navbar ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding-right: 100px;
}

#navbar ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: 1.25em;
}

#navbar ul li a:hover {
  color: aqua;
  animation: heartBeat;
  animation-duration: 2s;
}

@media screen and (max-width: 800px) {
  #navbar {
    display: block;
  }
  #navbar ul {
    display: block;
  }
}

/* estilos de la seccion principal*/

#prasec {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 100px;
}

#text {
  overflow: hidden;
  width: 40%;
}

#textbotones {
  display: flex;
  animation: backInLeft;
  animation-duration: 2s;
  gap: 1.25em;
  align-items: center;
}

#button {
  font-family: "IBM Plex Mono";
  font-size: 1.25em;
  font-weight: 700;
  color: black;
  text-transform: uppercase;
  background-color: white;
  margin: 20px;
  padding: 20px 20px;
  border-radius: 0.25rem;
  border: solid 2px aqua;
  box-shadow: 5px 5px aqua;
  text-decoration: none;
}
#button:hover {
  cursor: pointer;
}

#button:active {
  transform: translate(00.125rem, 0.125rem);
  box-shadow: 2px 2px aqua;
}

#textbotones ul {
  display: flex;
  list-style-type: none;
  gap: 1.25em;
  align-items: center;
  margin: 0;
  padding: 0;
}

#textbotones ul li a i {
  color: white;
  font-size: 3.125em;
}

#textbotones ul li a i:hover {
  transform: scale(1.2, 1.2);
  transition-duration: 0.5s;
  text-shadow: 0px 0px 4px white;
}

#img {
  animation: backInRight;
  animation-duration: 2s;

  box-shadow: 0px 0px 20px aqua;
}

#text {
  display: grid;
  row-gap: 1.25em;
}

#text h1 {
  color: white;
  font-size: 3.125em;
  font-family: "Roboto", sans-serif;
  font-style: italic;
  animation: backInLeft;
  animation-duration: 2s;
  margin: 0;
}

#text h1 span {
  color: aqua;
}

#text h3 {
  color: aqua;
  font-size: 25px;
  font-family: "Montserrat", sans-serif;
  animation: backInLeft;
  animation-duration: 2s;
  margin: 0;
}

#text p {
  color: white;
  font-size: larger;
  font-family: "Roboto", sans-serif;
  animation: backInLeft;
  animation-duration: 2s;
  margin: 0;
}

/* estilos de las secciones sob exp est cur */

#smcontenedor {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  row-gap: 30px;
  column-gap: 30px;
}

.smblock {
  font-size: 1.25em;
  color: white;
  font-family: "Roboto", sans-serif;
}

.smblock h3 {
  text-align: center;
}

.smblock ul {
  margin: 0;
  padding: 0;
  list-style-position: inside;
  text-align: center;
}



#icono {
  text-align: center;
  color: white;
  font-size: 3.125em;
  text-shadow: 0px 0px 4px white;
}

.seccion {
  scroll-margin-top: 100px;
  padding-bottom: 250px;
}



.titulosblock h1 {
  font-size: 2.5em;
  font-family: "Montserrat", sans-serif;
  color: white;
  text-align: center;
  padding: 30px 50px;

  text-decoration: underline overline;
  text-decoration-thickness: 1px;

  text-underline-offset: 10px;
}

.titulosblock h3 {
  font-size: 1.25em;
  color: white;
  font-family: "Montserrat", sans-serif;

  text-align: center;
}



#expcontainer {
  display: grid;
  grid-template-columns: auto auto;
  row-gap: 30px;
  column-gap: 30px;
  justify-items: center;
  
  
}

.mainblock {
  font-size: 1.25em;
  color: white;
  font-family: "Montserrat", sans-serif;
  margin: 0;
 
}



.mainblock h2 {
  color: aqua;
}

.detailblock {
  font-size: 1.25em;
  color: white;
  font-family: "Roboto", sans-serif;
  width: 400px;
  height: 200px;
}

.detailblock ul{
  margin: 0;
}

.mainblock ul{
  margin: 0;
}

footer {
  background: linear-gradient(
    360deg,
    rgba(2, 0, 36, 1) 20%,
    rgba(9, 9, 121, 1) 50%,
    rgba(6, 78, 167, 1) 80%,
    rgba(0, 132, 201, 1) 100%
  );
}

footer div {
  font-size: 1.875em;
}

#foottext {
  text-align: center;
}

footer h1 {
  font-family: "Roboto", sans-serif;
  font-size: xx-large;
  color: white;
}
#foottext span {
  color: aqua;
}

footer h2 {
  color: white;
  font-size: x-large;
  font-family: "Montserrat", sans-serif;
}

#footiconos {
  text-align: center;
}

#footiconos ul {
  margin: 0;
  padding: 0;
}

#footiconos ul a i {
  color: white;
  font-size: xx-large;
  padding: 20px 20px;
}

#footiconos ul a i:hover {
  transform: scale(1.2, 1.2);
  transition-duration: 0.5s;
  text-shadow: 0px 0px 4px white;
}
