@import url("https://fonts.googleapis.com/css2?family=Bad+Script&family=Bebas+Neue&family=Source+Sans+3&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
  font-family: "Source Sans 3", sans-serif;
}

:root {
  --bg-color:#0a0a0a;
  --second-bg-color: #323946;
  --text-color: #fff;
  --main-color: #6fff00;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
}

section {
  min-height: 100vh;
  padding: 10rem 9% 2rem;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 9%;
  background: var(--bg-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.header.sticky {
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);
}

.logo {
  font-size: 2.5rem;
  color: var(--text-color);
  font-weight: 600;
  cursor: default;
}

.navbar a {
  font-size: 1.7rem;
  color: var(--text-color);
  margin-left: 4rem;
  transition: 0.3s;
}

.navbar a:hover,
.navbar a.active {
  color: var(--main-color);
}

#menu-icon {
  font-size: 3.6rem;
  color: var(--text-color);
  display: none;
}

.theme-toggle {
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .theme-toggle img {
    width: 3rem;
    height: 3rem;
  }

.home {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-content h3 {
  font-size: 3.2rem;
  font-weight: 700;
}

.home-content h3:nth-of-type(2) {
  margin-bottom: 2rem;
}

span {
  color: var(--main-color);
}

.home-content h1 {
  font-size: 5.6rem;
  font-weight: 700;
  line-height: 1.3;
}

.home-content p {
  font-size: 1.6rem;
}

.home-img img {
  width: 35vw;
  
}


.social-media a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  background: transparent;
  border: 0.2rem solid var(--main-color);
  border-radius: 50%;
  font-size: 2rem;
  color: var(--main-color);
  margin: 3rem 1.5rem 3rem 0;
  transition: 0.5s ease;
}

.social-media a:hover {
  background: var(--main-color);
  color: var(--second-bg-color);
  box-shadow: 0 0 1rem var(--main-color);
}

.btn {
  display: inline-block;
  padding: 1rem 2.8rem;
  background: var(--main-color);
  border-radius: 4rem;
  box-shadow: 0 0 1rem var(--main-color);
  font-size: 1.6rem;
  color: var(--second-bg-color);
  letter-spacing: 0.1rem;
  font-weight: 600;
  transition: 0.5s ease;
  
}

.btn:hover {
  box-shadow: none;
}

.sobremi {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  background: var(--second-bg-color);
}


.sobremi-img img {
  width: 35vw;
  border: 2px solid var(--main-color);
  border-radius: 50%;
  box-shadow: 0 0 1rem var(--main-color);

}


.heading {
  /* text-align: center; */
  font-size: 4.5rem;
}

.sobremi-content h2 {
  
  line-height: 1.2;
}

.sobremi-content h3 {
  font-size: 2.6rem;
}

.sobremi-content p {
  font-size: 1.6rem;
  margin: 1rem 0 2rem;
}
.sobremi-content p:nth-child(4) {
  
  color: var(--main-color)
}

.slider-container {
  max-width: 50%;
  overflow: hidden;
}

.slider {
  list-style-type: none;
  display: flex;
  column-gap: 30px;
  align-items: center;
  width: 100%;
  animation: slide 10s linear infinite;
}

@keyframes slide {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.slider-item img {
  width: 3rem;
  height: auto;
}

.proyectos {
  background: var(--bg-color);
  
}

.proyectos .heading{
  text-align: center;
}

.proyectos h2 {
  margin-bottom: 4rem;
}

.proyectos-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 2.5rem;
}

.proyectos-container .proyectos-card {
  position: relative;
  border-radius: 2rem;
  box-shadow: 0 0 1rem var(--bg-color);
  overflow: hidden;
  display: flex;
  box-shadow: 0 0 1rem var(--main-color);
}

.proyectos-card img {
  width: 100%;
  transition: 0.5s ease;
}

.proyectos-card:hover img {
  transform: scale(1.1);
  width: 100%;
}

.proyectos-card .proyectos-layer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.1), var(--main-color));
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 0 4rem;
  transform: translateY(100%);
  transition: 0.5s ease;
}

.proyectos-card:hover .proyectos-layer {
  transform: translateY(0);
}

.proyectos-layer h4 {
  font-size: 3rem;
}

.proyectos-layer p {
  font-size: 1.6rem;
  margin: 0.3rem 0 1rem;
}

.proyectos-layer a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  background: var(--text-color);
  border-radius: 50%;
}

.proyectos-layer a i {
  font-size: 2rem;
  color: var(--second-bg-color);
}

.contacto .heading{
  text-align: center;
}

.contacto h2 {
  margin-bottom: 3rem;
}

.contacto form {
  max-width: 70rem;
  margin: 1rem auto;
  text-align: center;
  margin-bottom: 3rem;
}

.contacto form .input-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contacto form .input-box input,
.contacto form textarea {
  width: 100%;
  padding: 1.5rem;
  font-size: 1.6rem;
  color: var(--text-color);
  background: var(--second-bg-color);
  border-radius: 0.8rem;
  margin: 0.7rem 0;
}

.contacto form .input-box input {
  width: 49%;
}

.contacto form textarea {
  resize: none;
}

.contacto form .btn {
  margin-top: 2rem;
  cursor: pointer;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 2rem 9%;
  background: var(--second-bg-color);
}

.footer-text p {
  font-size: 1.6rem;
  color: gray;
}

.footer-iconTop a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0.8rem;
  background: var(--main-color);
  border-radius: 0.8rem;
  transition: 0.5s ease;
}

.footer-iconTop a:hover {
  box-shadow: 0 0 1rem var(--main-color);
}

.footer-iconTop a i {
  font-size: 2.4rem;
  color: var(--second-bg-color);
}

/* breakpoints */

@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 991px) {
  .header {
    padding: 2rem 3%;
  }

  section {
    padding: 10rem 3% 2rem;
  }

  .footer {
    padding: 2rem 3%;
  }

  .proyectos {
    padding-bottom: 7rem;
  }

  .contacto {
    min-height: auto;
  }
}

@media (max-width: 768px) {
  #menu-icon {
    display: block;
  }

  .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 1rem 3%;
    background: var(--bg-color);
    border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    display: none;
  }

  .navbar.active {
    display: block;
  }

  .navbar a {
    display: block;
    font-size: 2rem;
    margin: 3rem 0;
  }

  .home {
    flex-direction: column;
  }

  .home-content h3 {
    font-size: 2.6rem;
  }

  .home-content h1 {
    font-size: 5rem;
  }

  .home-img img {
    width: 70vw;
    margin-top: 4rem;
  }

  

  .sobremi {
    flex-direction: column-reverse;
    align-items: initial;
    
  }
    
  .sobremi {
    text-align: center;
  }
  
  
  .sobremi img {
    width: 70vw;
    margin-bottom: 4rem;
    
  }

  .sobremi-content p:nth-child(4) {
    text-align: center;
    color: var(--main-color)
  }

  .slider-container {
    max-width: 100%;
  }

  .slider-item img{
    width: 3rem;
  }

  .proyectos h2 {
    margin-bottom: 3rem;
  }

  .proyectos-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 617px) {
  .proyectos-container {
    grid-template-columns: 1fr;
  }

  .footer {
    flex-direction: column-reverse;
  }

  .footer p {
    text-align: center;
    margin-top: 2rem;
  }
}
