*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


header div{
    display: flex;
    justify-content: space-between;
    padding: 20px 100px;
}
    



body{
    background-color: #3A1078;
}


#contactosec{
    display: ;
}