/* fuentes */
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Source+Sans+3&display=swap');

/* estilos de la pagina */
* {
  box-sizing: border-box;
  margin: 0;
}


html {
  scroll-behavior: smooth;
}

/* estilos del body */

body[theme=dark]{
  --background:black; 
  --textcolor:white;
  --hovers:rgb(0, 0, 88);
  --inputs:rgb(39, 39, 39);
  background: var(--background);
  color:var(--textcolor);
}

body[theme=light]{
  --background:white;
  --textcolor:black;
  --hovers:rgb(0, 67, 88);
  background: var(--background);
  color: var(--textcolor);
}

body {
  font-size: 16px;
  font-family: 'Source Sans 3', sans-serif;
  transition: 0.2s ease-in-out, color 0.2s ease-in-out;
  
  
}

/* estilos de barra de navegacion */

header {
  position: sticky;
  height: 80px;
  backdrop-filter: blur(5px);
  width: 100%;
  top: 0;
  border-top: 3px solid aqua;
}

.navbar {
  display: flex;
  justify-content: space-between;
  max-width: 992px;
  margin: 0 auto;
}

.nav-link {
  color: var(--color);
  text-decoration: none;
}

.logo-container{
  display:flex;
  align-items: center;
}

.logo {
  display: block;
  font-size: xx-large;
  font-weight: bold;
  padding: 0 40px;
  line-height: 80px;
}

#theme-toggle{
  visibility: hidden;
}

#theme-toggle + label {
  content: '';
  display: inline-block;
  cursor: pointer;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
}

#theme-toggle:not(:checked) + label {
  background-color: gold;
}

#theme-toggle:checked + label {
  background-color: transparent;
  box-shadow: inset -6px -4px 1px 1px #ffffff;
}

.navbar span {
  color: aqua;
}

.nav-menu {
  display: flex;
  margin-right: 40px;
  list-style-type: none;
}

.nav-menu-item {
  font-size: medium;
  margin: 0 10px;
  line-height: 80px;
  text-transform: uppercase;
  width: max-content;
  
}


.nav-menu-link:hover {
  color: aqua;
  text-shadow: 0px 0px 10px white;
  transition: ease 1s;
}

.navtoggle {
  color: var(--textcolor);
  background: none;
  border: none;
  font-size: 30px;
  padding: 0 20px;
  line-height: 60px;
  cursor: pointer;
  display: none;
}



/* estilos de la seccion principal*/

#prasec {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 100px;
  background: ;
}

#text {
  
  width: 40%;
}

#textbotones {
  display: flex;
  animation: backInLeft;
  animation-duration: 2s;
  gap: 1.25em;
  align-items: center;
}

#button {
  
  font-size: 1.25em;
  font-weight: 700;
  color: black;
  text-transform: uppercase;
  background-color: white;
  margin: 20px 0;
  padding: 20px 20px;
  border-radius: 0.25rem;
  border: solid 2px aqua;
  box-shadow: 5px 5px aqua;
  text-decoration: none;
}

#button:hover {
  cursor: pointer;
}

#button:active {
  transform: translate(00.125rem, 0.125rem);
  box-shadow: 2px 2px aqua;
}

#textbotones ul {
  display: flex;
  list-style-type: none;
  gap: 1.25em;
  align-items: center;
  margin: 0;
  padding: 0;
}

#textbotones ul li a i {
  color: var(--textcolor);
  font-size: 3.125em;
}

#textbotones ul li a i:hover {
  transform: scale(1.2, 1.2);
  transition-duration: 0.5s;
  text-shadow: 0px 0px 4px var(--color);
}

#img {
  animation: backInRight;
  animation-duration: 2s;

  box-shadow: 0px 0px 20px aqua;
}

#text {
  display: grid;
  row-gap: 1.25em;
}

#text h1 {
  color: var(--color);
  font-size: 3.125em;
  font-family: 'Source Sans 3', sans-serif;
  
  animation: backInLeft;
  animation-duration: 2s;
  margin: 0;
}

#text h1 span {
  color: aqua;
}

#text h3 {
  color: aqua;
  font-size: 25px;
  font-family: 'Source Sans 3', sans-serif;
  animation: backInLeft;
  animation-duration: 2s;
  margin: 0;
}

#text p {
  color: var(--textcolor);
  font-size: larger;
  font-family: 'Source Sans 3', sans-serif;
  animation: backInLeft;
  animation-duration: 2s;
  margin: 0;
}

/* estilos de las secciones sob exp est cur */



#smcontenedor {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  row-gap: 30px;
  column-gap: 30px;
}

.smblock {
  font-size: 1.25em;
  padding: 10px;
  color: var(--textcolor);
  border: 2px solid var(--textcolor);
  border-radius: 10px;
  box-shadow: 0px 0px 10px aqua;

}

.smblock h3 {
  text-align: center;
  margin-bottom: 5%;
}

.smblock ul {
  margin: 0;
  padding: 0;
  list-style:none inside;
  text-align: center;
}

.icon {
  text-align: center;
  color: var(--textcolor);
  font-size:1.25em;
  text-shadow: 0px 0px 4px var(--textcolor);
  
}

.seccion {
  scroll-margin-top: 100px;
  padding-bottom: 250px;
}

.title-container{
  display: flex;
  justify-content: space-evenly;
}



.titulosblock h1 {
  font-size: 2.5em;
  font-family: "Montserrat", sans-serif;
  color: var(--textcolor);
  text-align: center;
  padding: 30px 50px;
  text-decoration: underline overline;
  text-decoration-thickness: 1px;
  text-underline-offset: 10px;
}

.titulosblock h3 {
  font-size: 1.25em;
  color: var(--textcolor);
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

.info-columns{
  display: flex;
  justify-content: space-evenly;
  
}

.info-blocks{
  display: grid;
  grid-template-columns: auto;
  row-gap: 30px;
  column-gap: 30px;
}

.block{
  
  width: 500px;
  height: 150px;
  border: 2px solid var(--textcolor);
  border-radius: 10px;
  box-shadow: 0px 0px 10px aqua;
  padding: 10px;
}

.block ul{
  list-style-type: none;
  padding: 0;
}

.block:hover{
  background-color: var(--hovers);
  transition: ease 1s;
}

.c-container{
  display: flex;
  justify-content:space-evenly;
  align-items: center;
  
}
.c-block{
  border: 2px solid var(--textcolor);
  border-radius: 10px;
  box-shadow: 0px 0px 10px aqua;
  width: 500px;
  height: 250px;
  
}
.c-block ul{
  list-style:none inside

}

/* estilos seccion contacto */



.contact-container {
  margin: 0 auto;
  border-radius: 10px;
  border: 1px solid var(--textcolor);
  box-shadow: 0px 0px 10px aqua;
  background-color: var(--background);
  padding: 20px;
  width: 50%;
  background-image: url(https://img.freepik.com/free-vector/realistic-background-futuristic-style_23-2149129125.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  
  
}

label{
  text-transform: uppercase;
  font-weight: bold;
  font-size: larger;
  text-shadow: 3px 3px 5px var(--background);
}

/*inputs*/
input[type=text],textarea,input[type=email]{
  backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, 0.2); /* Color de fondo translúcido opcional */

  width: 100%;
  padding: 12px;
  border: 1px solid var(--textcolor);
  border-radius: 4px;
  resize: vertical;
  margin-top: 6px;
  margin-bottom: 16px;
  color: var(--textcolor);
  
}



input[type=submit],input[type=reset]{
  background-color: var(--background);
  border: 1px solid var(--textcolor);
  color: var(--textcolor);
  box-shadow: 0px 0px 5px aqua;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  

}
input[type=submit]:hover,input[type=reset]:hover {
  background-color: var(--hovers);
  transition: ease 1s;
}

.contact-btns{
  text-align: center;
}


/* Estilos del footer */

footer {
  
  color: var(--textcolor);
  border-bottom: 3px solid aqua;
  padding-bottom: 30px;
  text-align: center;
  color: gray;
}




/* Estilos pantallas pequeñas */

@media (max-width: 768px) {
  header {
    height: 60px;
    backdrop-filter: blur(10px);
  }

  .logo {
    font-size: 25px;
    padding: 0 20px;
    line-height: 60px;
  }

  .nav-menu {
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    position: fixed;
    background-color: var(--background);
    color: var(--textcolor);
    top: 50px;
    width: 100%;
    left: 100%;
    
    transition: left 0.5s;
    
  }

  .nav-menu-item {
    line-height: 70px;
  }

  .navtoggle {
    display: block;
  }

  .nav-menu_visible {
    left: 0;
  }

  #prasec{
    flex-direction: column;
    text-align: center;
  }

  #text{
    width: 90%;
    margin-bottom: 50px;
  }

  #textbotones{
    flex-direction: column;
  }

  #smcontenedor{
    display:flex;
    flex-direction: column;
    
    align-items: center;

  }

  .smblock{
    
    width: 50%;
    height: auto;
  }

  .info-columns{
    flex-direction: column;
    justify-content: center;
    row-gap: 30px;
  }

  .info-blocks{
    justify-content: center; 
    align-items: center;
  }

  .block{
    width: 100%;
    height: auto;
  }
  
  .c-container{
    flex-direction: column;
    row-gap: 30px;
  }

  .c-block{
    width: auto;
    height: auto;

  }

  .seccion{
    padding-bottom: 100px;
  }

}